.logo {
  width: 60px;
  height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: black;
}

h2 {
  text-align: center;
  margin: 70;
  padding: 10;
}

p {
  padding: 20px;
  text-align: center;
  font-size: larger;
}

main img {
  width: 50%;
  height: 740px;
}

h1 {
  margin: 70px;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
}

.navbar .container-fluid {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 15px 15px 35px rgba(109, 6, 6, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-toggler {
  border: none;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-fluid .navbar-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.container-fluid .navbar-nav .nav-item {
  margin-right: 70px;
}
.container-fluid .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: color 0.3s;
}
.container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: #525ceb;
}

.lista2024 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedorimagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.imagenesexclusivas {
  display: flex;
  flex-wrap: wrap;
  width: 1650px;
  height: 60vmin;
  gap: 5px;
}
.imagenesexclusivas img {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 15px;
}
.imagenesexclusivas img:hover {
  flex: 2;
}

.parrafo-inicial {
  font-size: 20px;
}

.containersecciones p {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}
.containersecciones h2 {
  color: red;
}
.containersecciones img {
  padding: 10px;
}
.containersecciones .mapa {
  padding: 10px;
  text-align: center;
}

.piedepagina {
  display: grid;
  background-color: black;
  padding: 10px;
  text-align: center;
}

.informacion {
  font-weight: bold;
  font-size: 1.5rem;
}

.redessociales {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redessociales a {
  margin: 10px;
  display: inline-block;
}
.redessociales img {
  height: 40px;
}

.lista-pequena {
  list-style: none;
  color: white;
  padding: 0px;
  margin: 0;
  text-align: center;
}
.lista-pequena li {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1rem;
}

/* SCSS STAFF */
/* Estilo para el contenedor de las tarjetas */
.contenedortarjetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Estilo para cada tarjeta */
.card {
  width: 18rem;
  margin: 45px;
  text-align: center;
  transition: opacity 0.3s;
}
.card img {
  width: 286px;
  height: 200px;
}
.card:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=styless.css.map */
